body{
    background-color: #2b2a33;
    color: rgb(161, 160, 160);
}
#title1 {
    color: rgb(161, 160, 160);
}
.nav-link {
    color: rgb(161, 160, 160);
}
nav-link:hover {
    color: rgb(161, 160, 160);
}
h1{
    font-size: 82px;
    text-align: center;
}
